@import "tailwindcss";

body {
  padding: 2rem;
  
  font-family: "Inter", sans-serif !important;
  scrollbar-color: #cf5151 #1a1a1a !important;
  background: #ececea !important;
}

::-webkit-scrollbar {
  background: rgb(22, 22, 22);
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: rgb(65, 65, 65);
}
::-webkit-scrollbar-track {
  background: rgb(34, 34, 34);
}

